// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

a:hover{ 
    text-decoration: underline;
    color:white;
}

a:active{
    font-weight: bold;
}

@font-face{
    font-family: Pacifico;
    src:url(..\google-font\Pacifico-Regular.ttf)
}
@font-face{
    font-family: Bebas;
    src: url(..\google-font/BebasNeue-Regular.ttf);
}
.jumbotron{
    background-image: url(..\img\pirate-ship.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Pacifico, sans-serif, cursive;
    text-align: center;
}

.header{
    font-family: Bebas, 'Times New Roman', cursive;
}
.byline{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.attribution {
    font-style: italic;

}


footer{
    padding: 30px;

}




// Import partials here
